/*
////////////////////////////////////////////////////////////////////////

                            FONT CLASSES

////////////////////////////////////////////////////////////////////////
*/

@font-face {
    font-family: COMFORTAA;
    src: url('../font/comfortaa.ttf');
}

/*
////////////////////////////////////////////////////////////////////////

                           GENERAL CLASSES

////////////////////////////////////////////////////////////////////////
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'COMFORTAA';
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'COMFORTAA';
}

/*
////////////////////////////////////////////////////////////////////////

                           HEADER CLASSES

////////////////////////////////////////////////////////////////////////
*/

header {
    width: 100%;
    height: 8%;
    background-color: #0099ff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    position: absolute;
}

header div.center {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

header div.left, header div.right {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

header a {
    color: #fff;
    text-decoration: none;
    transition-duration: 200ms;
}

/*
////////////////////////////////////////////////////////////////////////

                           MAIN CLASSES

////////////////////////////////////////////////////////////////////////
*/

main {
    width: 100%;
    height: 92%;
    background-color: #333;
    color: #fff;
}

main div.top {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* font-family: 'COMFORTAA'; */
}
main div.center, div.contener {
    width: 100%;
    height: 100%;
}

main div.contener,  div.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


main div.contener div.box {
    width: 50%;
    height: 25%;
    text-align: center;
}

main div.contener div.box h2 {
    margin-bottom: 4%;
}

/*
////////////////////////////////////////////////////////////////////////

                           GAME CLASSES

////////////////////////////////////////////////////////////////////////
*/

main div.contener form.gamePendu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    height: 25%;
}

main div.contener form.gamePendu div.box {
    width: 80%;
    height: 25%;
    display: block;
    text-align: center;
}

main div.contener form.gamePendu>input, div.box>select {
    margin: 6%;
}

#hide-word {
    letter-spacing: 10px;
    margin-bottom: 10%;
}


/*
////////////////////////////////////////////////////////////////////////

                    LOGIN/REGISTER/PROFIL CLASSES

////////////////////////////////////////////////////////////////////////
*/

main div.contener > svg {
    width: 30%;
}

main div.contener form.registration {
    width: 30%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
}

#register-form {
    height: 33%;
}

#register-form > label, input.submit {
    margin: 2%;
}

main div.contener form.registration input.text-input {
    width: 40%;
    height: 10%;
    padding: 1%;
}

#profil-svg {
    width: 35%;
}

#profil-form {
    height: 40%;
}

#profil-form > label, input.submit {
    margin: 2%;
}

/*
////////////////////////////////////////////////////////////////////////

                    RANKINGS CLASSES

////////////////////////////////////////////////////////////////////////
*/

main div.contener div.sub-boxe {
    width: 35%;
    height: 50%;
    overflow: scroll;
    align-items: center;
    text-align: center;
    margin-left: 0%;
}

main div.contener div.sub-boxe div.boxe {
    width: 98%;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #222;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 2%;
}

#header-table {
    border: 2px solid #fff;
}

main div.contener div.sub-boxe div.boxe div.container-info-1, main div.contener div.sub-boxe div.boxe div.container-info-2{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
main div.contener div.sub-boxe div.boxe div.container-info-1 {
    width: 30%;
}

main div.contener div.sub-boxe div.boxe div.container-info-2 {
    width: 20%;
}

main div.contener div.sub-boxe::-webkit-scrollbar {
    width: 0px;
}

/*
////////////////////////////////////////////////////////////////////////

                    ADMIN CLASSES

////////////////////////////////////////////////////////////////////////
*/

main div.contener div.sub-box {
    width: 70%;
    height: 50%;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

main div.contener div.sub-box::-webkit-scrollbar {
    width: 0px;
}

main div.contener div.sub-box div.box {
    width: 30%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #222;
    border-radius: 20px;
    margin: 1%;
}

main div.contener div.sub-box div.box div.left, form.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 100%;
}


input.size {
    width: 100%;
    height: 30%;
}

a.size {
    width: 95%;
    height: 22%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-word, #add-word::placeholder {
    text-align: center;
    color: #fff;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay:target {
    visibility: visible;
    opacity: 1;

}

div.popup {
    background: #fff;
    border-radius: 5px;
    width: 20%;
    height: 30%;
    position: relative;
    transition: all 5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.popup h2 {
    margin-top: 10%;
    margin-bottom: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    width:45%;
    transition: all 200ms;
    text-decoration: none;
    text-align: center;
}

.popup .close:hover {
    color: #CE3323;
}
.popup .content, form.popup, form.popup > div {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a.popup {
    width: 44%;
    height: 5%;
    text-align: center;
}

input.popup {
    width:51%;
}

@media screen and (max-width: 700px) {
    .box , .popup {
        width: 70%;
    }
}

/*
////////////////////////////////////////////////////////////////////////

                           FOOTER CLASSES

////////////////////////////////////////////////////////////////////////
*/

footer {
    width: 100%;
    height: 8%;
    background-color: #0099ff;
    /* font-family: 'COMFORTAA'; */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition-duration: 200ms;
}

footer a:hover {
    color: #000;
}


/*
////////////////////////////////////////////////////////////////////////

                            BTN CLASSES

////////////////////////////////////////////////////////////////////////
*/

.btn {
    border-radius: 5px;
    padding: 3%;
    font-size: 15px;
    text-decoration: none;
    margin: 1%;
    color: #fff;
    position: relative;
    display: inline-block;
    border: none;
    /* font-family: 'Comfortaa'; */
    transition-duration: 200ms;
}

.btn-letter {
    width: 8%;
    height: 100%;
    border-radius: 5px;
    padding: 1%;
    font-size: 15px;
    text-decoration: none;
    margin: 1%;
    color: #fff;
    position: relative;
    display: inline-block;
    border: none;
    /* font-family: 'Comfortaa'; */
    transition-duration: 200ms;
}

.btn:active, .btn::selection {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
    border: none;
}

.blue {
    background-color: #55acee;
    box-shadow: 0px 5px 0px 0px #3C93D5;
}

.blue:hover {
    background-color: #6FC6FF;
}

.green {
    background-color: #2ecc71;
    box-shadow: 0px 5px 0px 0px #15B358;
}

.green:hover {
    background-color: #48E68B;
}

.red {
    background-color: #e74c3c;
    box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
    background-color: #FF6656;
}

.orange {
    background-color: #e67e22;
    box-shadow: 0px 5px 0px 0px #CD6509;
}

.orange:hover {
    background-color: #FF983C;
}

/*
////////////////////////////////////////////////////////////////////////

                            ALERTES CLASSES

////////////////////////////////////////////////////////////////////////
*/

.succes, .error {
    color: white;
    font-weight: bold;
    width: 100%;
    height: 5%;
    text-align: center;
    position: absolute;
    z-index: 999;
    top: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: topToBottom ease 2s;
    -webkit-animation: topToBottom ease 2s;
    -moz-animation: topToBottom ease 2s;
    -o-animation: topToBottom ease 2s;
    -ms-animation: topToBottom ease 2s;
}
.succes{
    background-color: green;
}
.error {
    background-color: red;
}

@keyframes topToBottom {
    0% {
        margin-top: -23%;
    }

    100% {
        margin-top: 0%;
    }
}

@-moz-keyframes topToBottom {
    0% {
        margin-top: -23%;
    }

    100% {
        margin-top: 0%;
    }
}

@-webkit-keyframes topToBottom {
    0% {
        margin-top: -23%;
    }

    100% {
        margin-top: 0%;
    }
}

@-o-keyframes topToBottom {
    0% {
        margin-top: -23%;
    }

    100% {
        margin-top: 0%;
    }
}

@-ms-keyframes topToBottom {
    0% {
        margin-top: -23%;
    }

    100% {
        margin-top: 0%;
    }
}